
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Wittgenstein:ital,wght@0,900;1,900&display=swap');

.main-content{
    display:grid;
    grid-template-columns: 38rem;
    grid-gap:4rem;
}
body{
    background-image: url("./src/assets/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#search{
    width:60%;
    border-radius:7px;
    padding:20px;
    background-color: transparent;
    /* border:2px; */
    border:solid 2px white;
    /* border-color: white; */
    
}
::placeholder{
    color:white;
    font-size: 20px;
    
}
.nav-bar{
    display:flex;
    justify-content: space-around;

}
.nav-button{
    background-color:transparent;
    color:white;
    font-size:20px;  
}
.nav-button:hover{
    color:black;
    background-color: white;
    border:none;
}
.mid-content{
    color:white;
    font-family:Roboto;
    width:64%;
    margin-left:235px;
    
}
.emoji{
    font-size: 25px;
}
.data{
    display:flex;
    width:134%;
    background-color:white;
    margin-left:233px;
    border-radius:7px;
}
.images{
    width:150px;
    border-radius: 7px;
}
.titles{
    font-family:'Segoe UI';
    font-weight:bold;
    font-size: 20px;
    margin-top:55px;
}
.action-buttons{
    background-color:rgb(84, 17, 17);
    margin-left:20%;
    height:70px;
    width:90px;
    margin-top:5%;
    color:white;
}


/* {
    "recipes": [
      {
        "directions": "Remove foil lid from cake package. (Do not remove cake from pan.) Pierce cake with skewer at 1/2-inch intervals, poking skewer through cake to bottom of pan.Add boiling water to gelatin mix in small bowl; stir 2 min. until completely dissolved. Stir in cold water; pour over cake. Refrigerate 1 hour. Meanwhile, make curls from semi-sweet chocolate.Invert cake onto platter. Cut cake horizontally in half. Spread bottom half of cake with 1/3 cup COOL WHIP; cover with 1 cup pie filling and top cake layer. Frost top and sides of cake with remaining COOL WHIP. Garnish with remaining pie filling and chocolate curls.",
        "ingredients": "1 (16 ounce) loaf frozen pound cake, thawed.3/4 cup boiling water.1 (3 ounce) package JELL-O Cherry Flavor Gelatin.1/4 cup cold water.1 ounce BAKER'S Semi-Sweet Chocolate.2 cups thawed COOL WHIP Whipped Topping, divided.1 1/2 cups cherry pie filling, divided",
        "title": "Cherry Poke Cake",
        "img": "https://www.allrecipes.com/thmb/EPfaI-pvS1nxkO3IOjVJ4_AKzgg=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/1076016-874120adb8e7405ebca8a3ae0e9aca90.jpg"
      },
      {
        "directions": "In a bowl, combine sausage, shrimp or chicken with Creole seasoning; toss to coat. In a skillet, heat oil over medium heat. Add sausage, shrimp or chicken, cooking and stirring until shrimp turn pink or chicken is no longer pink, about 3-5 minutes.In a saucepan, prepare rice mix according to package directions. In addition, add one-half of the tomatoes into the rice preparation. After 12 minutes of cooking, add remaining tomatoes, Worcestershire sauce, hot pepper sauce and parsley. Continue to cook on low, covered, until liquid is absorbed and rice is tender.Add sausage, shrimp or chicken to rice, stir until heated through. Serve.",
        "ingredients": "1 (13.5 ounce) package Johnsonville® Andouille Dinner Sausage, cut into 1/4-inch slices.8 ounces raw shrimp, peeled and deveined or 8 ounces boneless, skinless chicken breast, cut into 1-inch pieces.2 teaspoons Cajun Creole seasoning.1 teaspoon olive oil.1 (8 ounce) package Jambalaya Rice Mix.1 (14 ounce) can diced tomatoes, drained and divided.1 teaspoon Worcestershire sauce.1 teaspoon hot pepper sauce.2 tablespoons chopped fresh parsley",
        "title": "Jambalaya",
        "img": "https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F4467234.jpg&q=60&c=sc&poi=auto&orient=true&h=512"
      },
      {
        "directions": "Beat condensed milk and egg yolks in a bowl until smooth. Add lemon juice and stir until the mixture begins to thicken; pour into prepared pie crust.Refrigerate pie until set in the middle, 6 hours to overnight.",
        "ingredients": "1 (14 ounce) can sweetened condensed milk.2 egg yolks.3 lemons, juiced.1 (9 inch) prepared graham cracker crust",
        "title": "Lemon Icebox Pie",
        "img": "https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F9000281.jpg&q=60&c=sc&poi=auto&orient=true&h=512"
      }
    ]
} */