.image{
    width:400px;
    height:300px;
    /* border-radius:7px; */
}
.extra-recipe-details{
    border-top:16px orange solid;
    border-bottom:1px black solid;
    border-left:1px black solid;
    border-right:1px black solid;
    width:50%;
    margin-left:280px;
    border-radius: 10px;
}
.description{
    width:38%;
    margin-left:380px;
    font-size:20px;
}
ul{
    list-style: none;
}
.labels{
    font-weight:bold;
    font-size:15px;
}
.title{
    color:black;
    font-weight:bold;
    font-size:45px;
}
.ingred,.direct{
    color:black;
}
.main-contents{
    display:flex;
    justify-content: center;
    align-items: center;

}

.recipe-buttons{
    /* background-color:transparent; */
    color:black;
    border:none;
    border:1px white solid;
    margin-left:20px;

    
}
.recipe-buttons:hover,.recipe-buttons:active{
    color:black;
    background-color:white;
    border:none;
}
.content{
    color:black;
    line-height: 35px;
    width:80%;
    margin-left:120px;
}
#back-button{
    margin-right:1080px;
    width:150px;
    background-color: transparent;
}
#back-arrow{
    font-weight:bold;
    font-size:25px;
}