.image{
    width:680px;
    height:300px;
    border-radius:7px;
}
.title{
    color:black;
    font-weight:bold;
    font-size:45px;
}
.ingred,.direct{
    color:black;
}
.main-contents{
    display:flex;
    justify-content: center;
    align-items: center;

}

.recipe-buttons{
    /* background-color:transparent; */
    color:black;
    border:none;
    border:1px white solid;
    margin-left:20px;

    
}
.recipe-buttons:hover,.recipe-buttons:active{
    color:black;
    background-color:white;
    border:none;
}
.content{
    color:black;
    line-height: 35px;
    width:80%;
    margin-left:120px;
}
#back-button{
    margin-right:1080px;
    width:150px;
    background-color: transparent;
}
#back-arrow{
    font-weight:bold;
    font-size:25px;
}